.dates-panel {
  display: flex;
  justify-content: space-around;
}

.dates-panel .date {
  display: block;
  border: 1px solid lightgrey;
  padding: 7px;
  width: 80px;
}

.dates-panel .date.date_selected {
  background: burlywood;
}

.dates-panel .date .date_day {
  display: block;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.dates-panel .date .date_week {
  display: block;
  text-align: center;
}

.dates-panel .date .date_month {
  display: block;
  text-align: center;
}

.cities-panel {
  padding: 30px 42px;
}

.cities-panel select {
  padding: 5px;
}

.weather-panel h1 {
  text-align: center;
  font-weight: bold;
}